@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000&display=swap');
@import "tailwindcss";

@theme {
  /* Dark Mode Elements */
  --color-Blue-900: hsl(209, 23%, 22%);

  /* Dark Mode Background */
  --color-Blue-950: hsl(207, 26%, 17%);

  /* Light Mode Text */
  --color-Grey-950: hsl(200, 15%, 8%);

  /* Light Mode Input */
  --color-Grey-400: hsl(0, 0%, 50%);

  /* Light Mode Background */
  --color-Grey-50: hsl(0, 0%, 99%);

  /* Dark Mode Text & Light Mode Elements */
  --color-white: hsl(0, 100%, 100%);

  /* Nunito Sans Font */
  --font-nunito: "Nunito Sans", sans-serif;
}

@layer base {
  body {
    @apply w-full h-screen font-nunito bg-Grey-50 text-Grey-950;
  }

  #root {
    @apply w-full h-full flex flex-col items-center space-y-15;
  }

  button {
    @apply cursor-pointer;
  }
}

@layer components {
  .region-buttons button {
    @apply text-start focus:outline-0;
  }

  .country-data span {
    @apply font-bold text-lg text-Blue-900
  }
}